.dropzone {
  height: 10em;
  width: 15em;
  background-color: #212529;
  border: 0.2em dashed #4B545D;
  margin-left: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadFile{
  border-radius: 5%;
  height: 4em;
  width: 15em;
  font-size: 0.6em;
  background-color: #15191C;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight {
  background-color: #778398;
}

.fileInput {
  display: none;
}

.uploadSuccess{
  height: 4em;
  width: 15em;
  font-size: 0.6em;
  color: #ffffff;
  background-color: #28A745;
  margin: 2em 0em 0 30em;
  padding: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
